body {
	font-family: 'lato', sans-serif;
	font-size: 14px;
	color: white;
	margin: 0;
	padding: 0;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding: 1em;
}

.footer {
	margin-top: 50px;
	border-top: 1px solid #eee;
	padding: 20px 0;
	font-size: 12px;
	color: white;
}

/* h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: 100;
	margin: 0.5em 0;
} */

.years-list-h2 {
  color: white;
}

label {
	/* color: white; */
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

#years-chart {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;
  align-content: center;
  margin-left: 350px; */
}

#concert-chart {
  background-color: rgb(30, 30, 30);
}

.years-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
}

.years-list-table {
  margin: 50px 0px 0px 0px;
  width: 300px;
}

.years-list-chart-div {
  width: 800px;
  
} 