.concert-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.table > tbody > tr > td {
  vertical-align: middle;
  text-align: center;
}

.table td {
  vertical-align: middle;
}