.concert-details {
  margin: 10px 10px 10px 10px;
}

.bands-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

hr {
  width: 300px;
  display: flex;
  justify-content: flex-start;
}

.edit-delete-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.edit-delete-btns > Button {
  margin: 2px 2px 2px 2px;
}

.tour-poster-img > img {
  height: 350px;
  width: 300px;
  border: 2px solid black;
}

body {
  background-color: black;
}